.page-section {
    padding: 2.5rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: #ffffff;
    }

    &__testimonials {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
    }
}